<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowDataServlet</servlet-name>
        <servlet-class>com.gaming_hub.ShowDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUser</servlet-name>
        <servlet-class>com.gaming_hub.ShowUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>com.gaming_hub.insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPurchase</servlet-name>
        <servlet-class>com.gaming_hub.InsertPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPurchase</servlet-name>
        <servlet-class>com.gaming_hub.ShowPurchase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowDataServlet</servlet-name>
        <url-pattern>/ShowDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUser</servlet-name>
        <url-pattern>/ShowUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPurchase</servlet-name>
        <url-pattern>/InsertPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPurchase</servlet-name>
        <url-pattern>/ShowPurchase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
